.char {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#2672f4,#3ae0fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bitter', Helvetica, Arial, sans-serif;
  font-size: 50px;
  display: inline;
}

.nav a{
  padding-right: 1em;
  color:black;
}

.nav {
  font-size: 15px;
  font-family: 'Raleway';
  margin: 0 auto;
  text-align: left;
  padding-bottom:50px;
}

.bannercontainer {
  padding-top: 50px;
}

.huechange {
  -webkit-animation: hue 115s infinite linear;
}

.huechange:hover {
  -webkit-animation: hue 3s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
