.char {
  position:relative;
  float:left;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Droid Sans Mono';
  font-size: 30px;
  text-align: center;
  width:30px;
}

.nav {
  font-size = 15px;
  font-family: 'calluna-sans';
  margin: 0 auto;
  width: 400px;
  height:40px;
  text-align: center;
}
.bannercontainer {
  width:480px;
  height:50px;
  margin: 0 auto;
}

.huechange {
  -webkit-animation: hue 120s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
