<h1 class="heading" ng-rainbow>About</h1>
<div class="content">
  <img class="inlineimage" alt="Elliott Thompson" src="/img/elliott-thompson.jpg" />
  <figcaption>Budapest 2015, photo courtesy of <a href="https://www.behance.net/richardthomasjohnson/" target="_blank" class="underlined">Richard Johnson</a></figcaption>
  <p>My name is Elliott Thompson, i'm a software engineer with a keen interest in web and digital design. I enjoy following the rapidly evolving world of technology so i'm always on the lookout for ways I can contribute to new trends.</p>
  <p>I'm currently freelancing as a front end web developer. If you've visited this site as you have a project I may be able to work on, be sure to take a look at my <a href="https://www.dropbox.com/s/q7i35voe0qm5sg7/CurriculumVitae-Dropbox.pdf?dl=0" target="_blank" class="underlined">curriculum vitae</a>. I have worked on the full stack of software development, everything from implementing low level encryption algorithms to designing mobile interfaces.</p>
  <p>When i'm not hacking away at <a class="underlined" href="https://github.com/AxiomElliott/" target="_blank">code</a> or travelling the world I like to spend my free time playing the guitar and video games. I'm also an amature photographer that loves nothing more than meandering around on quiet walks, brushing up on my photography skills along the way.</p>
</div>
